@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
a{
    margin-left: 550px;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Bangers', cursive;
}